.test-input {
  padding: 12px 30px 8px 15px;
  box-sizing: border-box;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  outline: none;
  width: 100%;
}
