<div class="container">
  <div class="title">Анкета</div>
  <div [formGroup]="testForm" class="content">
    @for (field of formFields; track field) {
      @switch (field.type) {
        @case ('text') {
          <div class="field">
            <div class="label">
              <div>
                <div class="label-content">{{ field.label }}</div>
                @if (testForm.get(field.name)?.hasValidator(Validators.required)) {
                  <label class="error">*</label>
                }
              </div>
            </div>
            <app-test-input class="input" [formControlName]="field.name"></app-test-input>
          </div>
        }
        @case ('number') {
          <div class="field">
            <div class="label">
              <div>
                <div class="label-content">{{ field.label }}</div>
                @if (testForm.get(field.name)?.hasValidator(Validators.required)) {
                  <label class="error">*</label>
                }
              </div>
            </div>
            <app-test-number class="number" [formControlName]="field.name"></app-test-number>
          </div>
        }
        @case ('select') {
          <div class="field">
            <div class="label">
              <div>
                <div class="label-content">{{ field.label }}</div>
                @if (testForm.get(field.name)?.hasValidator(Validators.required)) {
                  <label class="error">*</label>
                }
              </div>
            </div>
            <app-test-select class="select" [formControlName]="field.name" [options]="field.choices"></app-test-select>
          </div>
        }
        @case ('checkbox') {
          <div [formArrayName]="field.name" class="field">
            <div class="label">
              <div>
                <div class="label-content">{{ field.label }}</div>
                @if (testForm.get(field.name)?.hasValidator(Validators.required)) {
                  <label class="error">*</label>
                }
              </div>
            </div>
            <div class="checkbox-options">
              @for (option of getFormArray(field.name).controls; track option; let i = $index) {
                <div class="option" [class.bold]="field.choices.length === i">
                  <div class="option-name">{{ field.choices.length === i ? 'Выделить все' : field.choices[i] }}</div>
                  <app-test-checkbox formControlName="checkbox" [formControlName]="i"></app-test-checkbox>
                </div>
              }
            </div>
          </div>
        }
      }
    }
  </div>
  <button [disabled]="testForm.invalid"
          [class]="{'onSubmit':true,'submit-active':testForm.valid,'submit-disabled':testForm.invalid}">
    Отправить
  </button>
</div>
