.wrapper {
  display: flex;
}

.container {
  flex: 2;
  padding: 24px;
  box-sizing: border-box;
  //margin-left: 135px;
  //margin-top: 87px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  max-width: min(89vw, 800px);
  position: relative;
}

.loading {
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
  color: #5a93e8;
}

.title {
  font-size: 41px;
  font-weight: 400;
  line-height: 53px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.select {
  width: 300px;
}

.number {
  width: 100px !important;
}

.input {
  width: 100%;
}
.description {
  color: rgba(128, 128, 128, 0.76);
  font-size: 12px;
}

.onSubmit {
  width: fit-content;
  transition: ease-in-out .1s;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  box-sizing: border-box;
  padding: 15px 30px;
  border-radius: 3px;
  background: rgb(255, 231, 131);
}

.submit-active {
  &:hover {
    opacity: 0.7;
  }

  cursor: pointer;
}

.submit-disabled {
  opacity: 0.4;
}

.field {
  display: flex;
  //align-items: center;
  column-gap: 17px;
}

.label {
  width: 140px;
  height: fit-content;
  display: flex;
  align-items: center;
  min-height: 44px;
  flex-shrink: 0;
}

.label-content {
  display: contents;
}

.input-option {
  display: flex;
  column-gap: 15px;
  max-width: 500px;
  width: 100%;

}

.input-options {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  flex: 1;
}

.option-btn {
  display: flex;
  column-gap: 7px;
  align-items: center;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  flex-shrink: 0;
  height: 44px;
}

.remove {
  background: #FC6363;
  rotate: 45deg;
  border: none !important;
}

.plus {
  border: 1px solid black;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: relative;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

.plus::before,
.plus::after {
  content: '';
  position: absolute;
  background: black;
}

.plus::before {
  top: 50%;
  left: 50%;
  width: 1px;
  height: 14px;
  transform: translate(-50%, -50%);
}

.plus::after {
  top: 50%;
  left: 50%;
  width: 14px;
  height: 1px;
  transform: translate(-50%, -50%);
}

.checkbox-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 15px;
  max-height: 180px;
  height: 100%;
  width: 400px;
}

.option {
  display: flex;
  //flex-direction: row-reverse;
  align-items: center;
  column-gap: 10px;
  //flex: 1;
}

.option-name {
  //flex: 1;
}

.bold {
  font-weight: bold;
}

.error {
  color: red;
}

.data {
  flex: 1;
  width: 100%;
}

.form {
  font-size: 14px;
  background: #2b2b2b;
  color: #5a93e8;
  width: 100%;
  height: 90vh;
  resize: none;
}

.refresh {
  background: #2b2b2b;
  color: #a4c161;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .checkbox-options {
    max-height: unset;
  }
}
